@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Cormorant Garamond", san-serif;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
}

/* -------------------------------------------------------- Navbar */

.bg-navbar-color {
    background-color: #4F646F;
}

.navbar-light .navbar-nav .nav-link {
    color:#f4faff;
}

.navbar-light .navbar-brand {
    color: #f4faff;
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #dee7e7;
}

.navbar-light .navbar-toggler {
    background-color: #f4faff;
    color: #535657;
    border-color: #535657;
}

/* -------------------------------------------------------- Headers */

h1 {
    color:#535657;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;  
}


/* -------------------------------------------------------- Buttons */

.btn-primary {
    color: #f4faff;
    background-color: #4F646F;
    border: #f4faff;
}


/* -------------------------------------------------------- Hero section */

.hero-section {
    margin: 0 auto;
    margin-top: 10px;
}

.hero {
    background-image: url('../images/general/SGM.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 1px solid #4F646F;
    background-color: #F4FAFF;
    margin: 0 auto;
    padding: 0;
    min-height: 400px;
    border-radius: 25px;
}